spring:
  application:
    name: sugarfit-service-template

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: INFO
  pattern:
    level: "%5p [${spring.application.name},%X{correlationId}]"